<ion-header>
  <ion-navbar>
    <ion-title>
      Entry
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">




  <ion-card *ngIf="!new">
    <ion-card-content>

    <p>Use the button below to start tracking a new activity!</p>
    <button *ngIf="!new" ion-button (click)="startCreating()">Add an activity</button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="new">
    <ion-card-content>

      <form (ngSubmit)="createActivity()">
        <ion-item>
          <ion-label>Activity name: </ion-label>
          <ion-input type="text" [(ngModel)]="model.name" name="activityName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Enable reminder: </ion-label>
          <ion-checkbox [(ngModel)]="model.reminder" name="enableReminder"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="model.reminder">
          <ion-label>Reminder time: </ion-label>
          <ion-datetime displayFormat="hh:mm a" [(ngModel)]="model.remindTime" name="remindTime"></ion-datetime>
        </ion-item>

        <ion-item *ngIf="model.reminder">
          <ion-label>Interval: </ion-label>
          <ion-select [(ngModel)]="model.interval">
            <ion-option *ngFor="let item of intervalList" [value]="item.option">{{item.description}}</ion-option>
          </ion-select>
        </ion-item>

        <br/>
        <button ion-button type="submit">Add this activity</button>
      </form>

    </ion-card-content>

  </ion-card>

  <div *ngIf="data.workoutData.getValue()?.length > 0">
    <ion-card *ngFor="let activity of data.workoutData.getValue(); let i=index">
      <ion-card-content *ngIf="!showMe[i]">
        <div class="float-right"><h1 (click)="showActivity(i)"><ion-icon name="arrow-dropdown"></ion-icon>&nbsp;{{activity.name}}</h1></div>
        <div class="clear-float"></div>
      </ion-card-content>

      <ion-card-content *ngIf="showMe[i]">
        <div class="float-right"><h1 (click)="hideActivity(i)"><ion-icon name="arrow-dropup-circle"></ion-icon>&nbsp;{{activity.name}}</h1></div>
        <div class="clear-float"></div>
        <form (ngSubmit)="updateActivity(i)">
          <ion-item>
            <ion-label>Reps: </ion-label>
            <ion-input type="text" [(ngModel)]="reps" name="reps"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Sets: </ion-label>
            <ion-input type="text" [(ngModel)]="sets" name="sets"></ion-input>
          </ion-item>

          <button ion-button type="submit">Submit</button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>




</ion-content>
